{% extends 'base.html.twig' %}

 {% block body %}
     <div class="wrapper" style="{{ core_options and core_options.backMaincolor ? "--color-back-main-color:"~core_options.backMaincolor~";--color-back-main-contrast-color:"~blackOrWhite(core_options.backMaincolor)~";" : "" }}">
         <!-- Sidebar  -->
         {{ render(controller('Akyos\\CoreBundle\\Controller\\Back\\CoreBundleController::sidebar', {'route': app.request.attributes.get('_route')})) }}

         <!-- Page Content  -->
         <div id="main">
             {% include "@AkyosCore/layout/header.html.twig" %}
             {% block page_content %}{% endblock %}
{#             {% include "@AkyosCore/layout/footer.html.twig" %}#}
         </div>
     </div>
 {% endblock %}

{% block javascripts %}
    <script src="{{ asset('symfony-collection/jquery.collection.js') }}"></script>
    <script src="{{ asset('bundles/akyoscore/main.js') }}"></script>
    <script src="{{ asset('bundles/akyosfilemanager/main.js') }}"></script>
{% endblock %}

 {% block stylesheets %}
     <link rel="stylesheet" href="{{ asset('bundles/akyoscore/main.css') }}">
     <link rel="stylesheet" href="{{ asset('bundles/akyosfilemanager/main.css') }}">
 {% endblock %}