{% extends 'base.html.twig' %}

 {% block body %}
     <div class="wrapper" style="{{ core_options and core_options.backMaincolor ? "--color-back-main-color:"~core_options.backMaincolor~";" : "" }}">
         <!-- Sidebar  -->
         {{ render(controller('Akyos\\CoreBundle\\Controller\\CoreBundleController::sidebar', {'route': app.request.attributes.get('_route')})) }}

         <!-- Page Content  -->
         <div id="main">
             {% include "@AkyosCore/layout/header.html.twig" %}
             {% block page_content %}{% endblock %}
{#             {% include "@AkyosCore/layout/footer.html.twig" %}#}
         </div>
     </div>
 {% endblock %}

{% block javascripts %}
    {#    #}{# jQuery #}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    {#    #}{#  Jqueri UI #}
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>

    <script src="{{ asset('symfony-collection/jquery.collection.js') }}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    <script src="https://kit.fontawesome.com/8af8fd2758.js" crossorigin="anonymous"></script>
    <script src="{{ asset('bundles/akyoscore/main.js') }}"></script>
    {# Import fengyuanchen/cropper #}
    <script src="{{ asset('bundles/artgrismedia/libs/cropperjs-1.4.1/cropper.min.js') }}"></script>
    {# Then the default bundle's JavaScript: #}
    {% include '@ArtgrisMedia/assets/include_js.html.twig' %}
{% endblock %}

 {% block stylesheets %}
     <link rel="stylesheet" href="{{ asset('bundles/akyoscore/main.css') }}">
     {# Artgris FileManager #}
     <link rel="stylesheet" href="{{ asset('bundles/artgrisfilemanager/libs/blueimp-file-upload/css/jquery.fileupload.css') }}">
     {# Import fengyuanchen/cropper #}
     <link rel="stylesheet" href="{{ asset('bundles/artgrismedia/libs/cropperjs-1.4.1/cropper.min.css') }}">
     {# Then the default bundle's CSS #}
     <link rel="stylesheet" href="{{ asset('bundles/artgrismedia/css/media.css') }}">
 {% endblock %}