{% set href = false %}
{% if header_route is defined and header_route %}
    {% set href = header_route %}
{% elseif route is defined %}
    {% set href = route %}
    {% if button_back is defined and button_back %}
        {% set href = href~'_index' %}
    {% endif %}
{% endif %}

<div class="aky-header-page">
    <h1 class="aky-header-page__title">{{ title }}</h1>

    {% if href %}
        {% if button_add is defined and button_add %}
            <a class="aky-header-page__btn btn btn-outline-success" href="{{ path(href~'_new' , parameters is defined ? parameters : {}) }}" {{ formModal is defined and formModal ? 'data-toggle=modal data-target='~(formModalId is defined ? formModalId : "#newModal")~'' : '' }}> {{ element is defined ? element : "Ajouter un élément" }} <i class="fas fa-plus"></i></a>
        {% endif %}
        {% if button_back is defined and button_back %}
            <a class="aky-header-page__btn btn btn-outline-primary" href="{{ path(href, parameters is defined ? parameters : {}) }}"><i class="fas fa-long-arrow-alt-left"></i> Retour</a>
        {% endif %}
    {% endif %}

    {% if search is defined and search %}
        <form class="searchform" method="GET">
            <input type="text" name="search" placeholder="Rechercher..." class="field" value="{{ app.request.query.get("search") }}" />
            <div class="icons-container">
                <div class="icon-search"></div>
                <div class="icon-close">
                    <div class="x-up"></div>
                    <div class="x-down"></div>
                </div>
            </div>
        </form>
    {% endif %}
</div>
