<table class="table aky-table">
    <thead class="aky-table-head">
    <tr>
        {% for name, field in fields %}
            <th{% if instanceOf(els, 'Knp\\Bundle\\PaginatorBundle\\Pagination\\SlidingPagination') %}
                {% if els.isSorted((field|split(';')|length > 1 ? field|split(';')[0]~'.' : 'a.')~(field|split(';')|length > 1 ? field|split(';')[1] : field)|lcfirst) %} class="sorted"{% endif %}
                    {% endif %} >
                {{ instanceOf(els, 'Knp\\Bundle\\PaginatorBundle\\Pagination\\SlidingPagination') ? knp_pagination_sortable(els, name, (field|split(';')|length > 1 ? field|split(';')[0]|lower~'.' : 'a.')~(field|split(';')|length > 1 ? field|split(';')[1] : field)|lcfirst) : name }}
            </th>
        {% endfor %}
        <th style="width: 15%">Action</th>
    </tr>
    </thead>
    <tbody class="aky-table-body">
    {% for el in els %}
        <tr>
            {% for name, field in fields %}
                {% set dynamicVariable = dynamicVariable(el, field) %}
                {% if field == 'Published' %}
                    <td>
                        <form action="{{ path('core_change_status', {'redirect' : app.request.uri|url_encode, 'entity' : get_class(el), 'id' : el.id}) }}" class="custom-switch-form" method="post">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input custom-switch-published" id="switch_{{ el.id }}" {{ el.published ? 'checked' : '' }}>
                                <label class="custom-control-label" for="switch_{{ el.id }}"></label>
                            </div>
                        </form>
                    </td>
                {% elseif field == 'Position' %}
                    <td>
                        <form action="{{ path('core_change_position_sub', {
                            'route' : route,
                            'id' : el.id,
                            'namespace': get_class(el), }) }}" class="not-submit" method="post">
                            <input class="form-control" type="number" name="position" value="{{ el.position }}" min="0" max="{{ countElements(get_class(el)) }}">
                        </form>
                    </td>
                {% elseif dynamicVariable.timezone is defined  %}
                    <td>
                        {{ dynamicVariable|date('d/m/Y') }}
                    </td>
                {% elseif instanceOf(dynamicVariable, 'Doctrine\\ORM\\PersistentCollection') %}
                    <td>
                        {% for key, element in dynamicVariable %}
                            {{ element }} {{ key != dynamicVariable|length - 1 ? ',' : '' }}
                        {% endfor %}
                    </td>
                {% elseif field == 'File' %}
                    <td>
                        {{ getImageAltById(dynamicVariable) ? getImageAltById(dynamicVariable) :  getImageNameById(dynamicVariable) }}
                    </td>
                {% else %}

                    <td>{{ dynamicVariable }}</td>
                {% endif %}
            {% endfor %}
            <td>
                {% set details = '' %}
                {% if view is defined %}
                    {% if view == 'page' %}
                        {% set details = path(view, {'slug': el.slug}) %}
                    {% elseif view == 'single' %}
                        {% set details = path(view, {'entitySlug': getEntitySlug(entity), 'slug': el.slug}) %}
                    {% elseif view == 'taxonomy' %}
                        {% set details = path(view, {'entitySlug': getEntitySlug(entity), 'category': el.slug}) %}
                    {% elseif view == 'tag' %}
                        {% set details = path(view, {'entitySlug': getEntitySlug(entity), 'tag': el.slug}) %}
                    {% else %}
                        {% set details = null %}
                    {% endif %}
                {% endif %}
                {% if details != '' %}
                    <a class="btn btn-second btn-sm" href="{{ details }}" data-toggle ="tooltip" title="Voir"><i class="fas fa-eye"></i></a>
                {% endif %}
                {% if show is defined and show %}
                    <a class="btn btn-success btn-sm" href="{{ path(route~'_show', {'id': el.id}) }}" data-toggle ="tooltip" title="Voir le détail"><i class="fas fa-eye"></i></a>
                {% endif %}
                {% if (button_edit is defined and button_edit) or button_edit is not defined %}
                    <a class="btn btn-primary btn-sm" href="{{ path(route~'_edit', {'id': el.id}) }}" data-toggle ="tooltip" title="Editer"><i class="fas fa-pencil-alt"></i></a>
                {% endif %}
                {% if (button_delete is defined and button_delete) or button_delete is not defined %}
                    <form method="post" class="not-submit index-delete" action="{{ path(route~'_delete', {'id': el.id}) }}" data-toggle ="tooltip" title="Supprimer" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet élément ?');">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ el.id) }}">
                        <button class="btn btn-danger btn-sm"><i class="fas fa-times"></i></button>
                    </form>
                {% endif %}
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="{{ fields|length + 1 }}">Il n'y a pas de résultats trouvés.</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% include '@AkyosCore/crud/elements/_pagination.html.twig' %}