<nav id="sidebar">
    {# LOGO #}
    <div class="sidebar-header">
        {% if core_options and core_options.siteLogo %}
            <img src="{{ asset(getImagePathById(core_options.siteLogo)) }}" alt="{{ core_options.siteTitle }}">
        {% else %}
            <img src="{{ asset('/bundles/akyoscore/images/akyos.png') }}" alt="Akyos">
        {% endif %}
    </div>

    {# SIDEBAR MENU #}
    <ul class="list-unstyled components">
        {# DASHBOARD #}
        <li class="{{ 'core_index' in route ? "active" : "" }}">
            <a href="{{ path('core_index') }}">Tableau de bord</a>
        </li>
        {# PAGES #}
        {% if is_granted('pages') %}
            <li class="{{ 'page_' in route ? "active" : "" }}">
                <a href="{{ path('page_index') }}">Pages</a>
            </li>
        {% endif %}

        {# BLOG #}
        {% if is_granted('liste-des-articles') or is_granted('etiquette-darticles') or is_granted('categories-darticles') %}
            {% if core_options and core_options.hasPosts %}
                <li class="{{ 'post' in route ? "active" : "" }}">
                    <a href="#post" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Articles</a>
                    <ul class="collapse list-unstyled" id="post">
                        {# POSTS #}
                        {% if is_granted('liste-des-articles') %}
                            <li class="{{ 'post_' in route and 'post_category_' not in route and 'post_tag_' not in route ? "active" : "" }}">
                                <a href="{{ path('post_index') }}">Liste des articles</a>
                            </li>
                        {% endif %}
                        {% if is_granted('categories-darticles') %}
                            {# POSTS CATEGORIES #}
                            <li class="{{ 'post_category_' in route ? "active" : "" }}">
                                <a href="{{ path('post_category_index') }}">Catégories d'articles</a>
                            </li>
                        {% endif %}
                        {% if is_granted('etiquette-darticles') %}
                            {# POSTS TAGS #}
                            <li class="{{ 'post_tag_' in route ? "active" : "" }}">
                                <a href="{{ path('post_tag_index') }}">Étiquettes d'articles</a>
                            </li>
                        {% endif %}
                    </ul>
                </li>
            {% endif %}
        {% endif %}
        {# MENUS #}
        {% if is_granted('zones-de-menus') or is_granted('liste-de-menus') %}
            <li class="{{ 'menu_' in route ? "active" : "" }}">
                <a href="#menu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Menus</a>
                <ul class="collapse list-unstyled" id="menu">
                    {% if is_granted('liste-de-menus') %}
                        {# MENUS #}
                        <li class="{{ 'menu_' in route and 'menu_area_' not in route ? "active" : "" }}">
                            <a href="{{ path('menu_index') }}">Liste des menus</a>
                        </li>
                    {% endif %}
                    {% if is_granted('zones-de-menus') %}
                        {# MENUS AREAS #}
                        <li class="{{ 'menu_area_' in route ? "active" : "" }}">
                            <a href="{{ path('menu_area_index') }}">Zones de menu</a>
                        </li>
                    {% endif %}
                </ul>
            </li>
        {% endif %}
        {# USERS #}
        {% if is_granted('utilisateurs') %}
            <li class="{{ 'user_' in route ? "active" : "" }}">
                <a href="{{ path('user_index') }}">Utilisateurs</a>
            </li>
        {% endif %}

        {% if is_granted('exports') %}
            {# EXPORT #}
            <li class="{{ 'export_' in route ? "active" : "" }}">
                <a href="{{ path('export_index') }}">Exporter</a>
            </li>
        {% endif %}

        {# {% if is_granted('ROLE_SUPER_ADMIN') %} #}
        <li class="divider"></li>
        {# BUNDLES EXTENSIONS #}
        {{ render(controller('Akyos\\CoreBundle\\Controller\\Back\\SidebarController::getBundleSidebar', {'route': route})) }}
        {# {% endif %} #}

        <li class="divider"></li>
        {# CUSTOM EXTENSIONS #}
        {{ render(controller('Akyos\\CoreBundle\\Controller\\Back\\SidebarController::getCustomSidebar', {'route': route})) }}

        <li class="divider"></li>
        {# SETTINGS #}
        {% if is_granted('ROLE_AKYOS') %}
            {# ADMIN ACCESS #}
            <li class="{{ 'admin_access_' in route ? "active" : "" }}">
                <a href="{{ path('admin_access_index') }}">Gestion des droits</a>
            </li>
        {% endif %}
        {% if is_granted('parametres') %}
            <li class="{{ 'option' in route ? "active" : "" }}">
                <a href="#option" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Réglages</a>
                <ul class="collapse list-unstyled" id="option">
                    {% if is_granted('options-du-site') %}
                        {# FRONT OPTIONS #}
                        <li class="{{ 'option_index' in route ? "active" : "" }}">
                            <a href="{{ path('option_index') }}">Options du site</a>
                        </li>
                    {% endif %}
                    {# FRONT OPTIONS CATEGORIES #}
                    {% if is_granted('categorie-doptions-du-site') %}
                        <li class="{{ 'option_category_index' in route ? "active" : "" }}">
                            <a href="{{ path('option_category_index') }}">Catégories d'options</a>
                        </li>
                    {% endif %}
                    {% if is_granted('options-du-core') %}
                        {# COREBUNDLE OPTIONS #}
                        <li class="{{ 'core_options' in route ? "active" : "" }}">
                            <a href="{{ path('core_options') }}">CoreBundle</a>
                        </li>
                    {% endif %}
                    {% if is_granted('rgpd') %}
                        {# RGPD OPTIONS #}
                        <li class="{{ 'rgpd_options' in route ? "active" : "" }}">
                            <a href="{{ path('rgpd_options') }}">RGPD et tracking</a>
                        </li>
                    {% endif %}
                    {% if is_granted('champs-personnalises') %}
                        {# CUSTOM FIELDS OPTIONS #}
                        <li class="{{ 'custom_fields' in route ? "active" : "" }}">
                            <a href="{{ path('custom_fields_group_index') }}">Champs custom</a>
                        </li>
                    {% endif %}
                    {# BUNDLES OPTIONS EXTENSIONS #}
                    {{ render(controller('Akyos\\CoreBundle\\Controller\\Back\\SidebarController::getOptionsSidebar', {'route': route})) }}
                </ul>
            </li>
        {% endif %}
        {% if is_granted('profil') %}
            <li class="{{ 'profile_' in route ? "active" : "" }}">
                <a href="{{ path('profile_index') }}">Votre profil</a>
            </li>
        {% endif %}
    </ul>
</nav>