<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>{{ core_options.siteTitle }} - Réinitialisation du mot de passe</title>
    <meta name="viewport" content="width=device-width"/>
    <style type="text/css">
        @media only screen and (min-device-width: 601px) {
            .content {
                width: 600px !important;
            }
        }
    </style>
</head>
<body style="margin: 0; padding: 0;" yahoo="fix">

<table align="center" border="0" cellpadding="0" cellspacing="0"
       style="border-collapse: collapse; width: 100%; max-width: 600px;" class="content">
    <tr>
        <td align="center"
            style="padding: 20px 20px 20px 20px; color: #ffffff; font-family: Arial, sans-serif; font-size: 36px; font-weight: bold;">
            <img src="{{ absolute_url(asset(getImagePathById(core_options.siteLogo))) }}"
                 alt="{{ core_options.siteTitle }}" width="auto" height="80" style="display:block;"/>
        </td>
    </tr>

    <tr>
        <td align="center"
            style="padding: 25px 20px 20px 20px; color: #323232; font-family: Arial, sans-serif; font-size: 26px;">
            Réinitialisation du mot de passe
        </td>
    </tr>
    <tr>
        <td style="padding: 20px 20px 0 20px; color: #555555; font-family: Arial, sans-serif; font-size: 15px; line-height: 24px;">
            Une demande de réinitialisation de votre mot de passe à été faite depuis le
            site {{ core_options.siteTitle }} le {{ newPasswordRequest.createdAt|date('d/m/Y à H:i') }}. Si vous êtes à
            l'origine de cette demande, veuillez cliquer sur le lien ci-dessous afin de d'accéder au formulaire de
            réinitialisation. Sinon, vous pouvez ignorer cet email.
        </td>
    </tr>
    <tr>
        <td align="center"
            style="padding: 40px 20px 40px 20px; color: #555555; font-family: Arial, sans-serif; font-size: 15px; line-height: 24px;">
            <a href="{{ absolute_url(path('new_password_change', {'id' : newPasswordRequest.userId, 'token' : newPasswordRequest.token})) }}"
               style="text-align:center;color:white;background-color:#555555;text-decoration:none;padding:15px 25px;border-radius:5px;">Je
                réinitialise mon mot de passe</a>
        </td>
    </tr>
    <tr>
        <td style="padding: 0 20px; color: #555555; font-family: Arial, sans-serif; font-size: 15px; line-height: 24px;">
            Ce lien est valable pendant une heure à partir de la demande de réinitialisation.
        </td>
    </tr>
    <tr>
        <td style="padding: 20px 20px 0 20px; border-bottom: 1px solid #f6f6f6; color: #555555; font-family: Arial, sans-serif; font-size: 15px; line-height: 24px;">
            <p>
                Bien cordialement,<br/>
                L'équipe {{ core_options.siteTitle }}.
            </p>
        </td>
    </tr>
    <tr>
        <td align="center"
            style="padding: 12px 10px 12px 10px; color: #808080; font-family: Arial, sans-serif; font-size: 12px; line-height: 18px;">
            {{ "now"|date('Y') }} &copy; <a href="{{ absolute_url(path('home')) }}" target="_blank"
                                            style="color: #808080; text-decoration: none;"><b>{{ core_options.siteTitle }}</b></a>
        </td>
    </tr>
    <tr>
        <td style="padding: 20px 0 0 0; color: #808080; font-family: Arial, sans-serif; font-size: 10px;">
            <p>Cet e-mail à été envoyé automatiquement depuis le formulaire de réinitialisation de mot de passe du
                site {{ core_options.siteTitle }}, merci de ne pas y répondre.</p>
        </td>
    </tr>
</table>
</body>
</html>
