<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{{ core_options.siteTitle }} - Réinitialisation du mot de passe</title>
    <meta name="viewport" content="width=device-width" />
    <style type="text/css">
        @media only screen and (min-device-width: 601px) {
            .content { width: 600px !important; }
        }
    </style>
</head>
<body style="margin: 0; padding: 0;" yahoo="fix">

    <table>
        <tr>
            <td style="text-align: center;">
                <img src="{{ absolute_url(asset(getImagePathById(core_options.siteLogo))) }}" alt="{{ core_options.siteTitle }}">
            </td>
        </tr>
        <tr>
            <td style="text-align: center;">
                Une demande de réinitialisation de votre mot de passe à été faite depuis le site {{ core_options.siteTitle }} le {{ newPasswordRequest.createdAt|date('d/m/Y à H:i') }}. Si vous êtes à l'origine de cette demande, veuillez cliquer sur le lien ci-dessous afin de d'accéder au formulaire de réinitialisation. Sinon, vous pouvez ignorer cet email.
            </td>
        </tr>
        <tr>
            <td style="text-align: center;">
                <a href="{{ path('new_password_change', {'token' : newPasswordRequest.token}) }}">Je réinitialise mon mot de passe</a>
            </td>
        </tr>
        <tr>
            <td style="text-align: center;">
                Ce lien est valable pendant une heure à partir de la demande de réinitialisation.
            </td>
        </tr>
    </table>

</body>
</html>
