{% extends '@AkyosCore/layout.html.twig' %}

{% block page_content %}
    <h1>Créer un(e) {{ title }}</h1>

    {{ form_start(form) }}
    {{ form_rest(form) }}
    <button class="btn btn-outline-success">{{ button_label|default('Enregistrer') }}</button>
    {{ form_end(form) }}

    <a class="btn btn-outline-dark" href="{{ path(route~'_index') }}">Revenir à la page de listing</a>
{% endblock %}
