{% import _self as macros %}

<nav id="{{ menu.slug }}">
    <ul class="nav">
        {% if menu is not null %}
            {% for menuItem in menu.menu.menuItems|filter(menuItem => menu.menu is not null and menuItem.menuItemParent is null) %}
                <li class="nav-item {{ menuItem.menuItemsChilds is not empty or menuItem.isList ? 'nav-item-parent' : '' }} {{ currentPage is same as(getElement(menuItem.type, menuItem.idType)) or checkChildActive(menuItem, currentPage) or ( menuItem.isList and matchSameEntity(getEntityNameSpace(menuItem.type), currentPage) ) or isArchive(getEntityNameSpace(menuItem.type), currentPage) ? 'active' : '' }}">
                    {% if not menuItem.isParent %}
                        {% if menuItem.isList %}
                            {% if menuItem.url == null %}
                                <a class="nav-item__link" href="{{ path('archive', {'entitySlug': getEntitySlug(menuItem.type)}) }}"  {{ menuItem.target == "_blank" ? 'target="_blank" rel="noopener noreferrer"' : "" }}>{{ menuItem.title|raw }}</a>
                            {% elseif menuItem.url == "http://#" %}
                                <span class="nav-item__link">{{ menuItem.title|raw }}</span>
                            {% else %}
                                <a class="nav-item__link" href="{{ getPermalink(menuItem) }}"  {{ menuItem.target == "_blank" ? 'target="_blank" rel="noopener noreferrer"' : "" }}>{{ menuItem.title|raw }}</a>
                            {% endif %}
                        {% else %}
                            <a class="nav-item__link" href="{{ getPermalink(menuItem) }}"  {{ menuItem.target == "_blank" ? 'target="_blank" rel="noopener noreferrer"' : "" }}>{{ menuItem.title|raw }}</a>
                        {% endif %}
                    {% endif %}
                    {{ _self.subItems(menuItem, currentPage, 0) }}
                </li>
            {% endfor %}
        {% endif %}
    </ul>
</nav>

{% macro subItems(menuItem, currentPage, depth) %}
    {% set depthToClasse = ''  %}
    {% for k, e in 0..depth %}
        {% set depthToClasse = depthToClasse~'sub'  %}
        {% if not k is same as(depth) %}
            {% set depthToClasse = depthToClasse~'-'  %}
        {% endif %}
    {% endfor %}
    {% if menuItem.menuItemsChilds is not empty %}
        {% set depth = depth + 1 %}
        <ul class="nav-{{ depthToClasse }}">
            {% for subMenuItem in menuItem.menuItemsChilds %}
                <li class="nav-{{ depthToClasse }}-item {{ subMenuItem.menuItemsChilds is not empty or subMenuItem.isList ? 'nav-item-parent' : '' }} {{ currentPage == getElement(subMenuItem.type, subMenuItem.idType) ? 'active' : '' }}">
                    {% if not subMenuItem.isParent %}
                        {% if subMenuItem.isList %}
                            {% if subMenuItem.url == null %}
                                <a class="nav-{{ depthToClasse }}-item__link" href="{{ path('archive', {'entitySlug': getEntitySlug(subMenuItem.type)}) }}"  {{ subMenuItem.target == "_blank" ? 'target="_blank" rel="noopener noreferrer"' : "" }}>{{ subMenuItem.title|raw }}</a>
                            {% elseif subMenuItem.url == "http://#" %}
                                <span class="nav-{{ depthToClasse }}-item__link">{{ menuItem.title|raw }}</span>
                            {% else %}
                                <a class="nav-{{ depthToClasse }}-item__link" href="{{ getPermalink(subMenuItem) }}"  {{ subMenuItem.target == "_blank" ? 'target="_blank" rel="noopener noreferrer"' : "" }}>{{ subMenuItem.title|raw }}</a>
                            {% endif %}
                        {% else %}
                            <a class="nav-{{ depthToClasse }}-item__link" href="{{ getPermalink(subMenuItem) }}"  {{ subMenuItem.target == "_blank" ? 'target="_blank" rel="noopener noreferrer"' : "" }}>{{ subMenuItem.title|raw }}</a>
                        {% endif %}
                    {% endif %}
                    {{ _self.subItems(subMenuItem, currentPage, depth) }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if menuItem.isList %}
        <ul class="nav-{{ depthToClasse }}">
            {% for element in getElementsList(menuItem.type) %}
                <li class="nav-{{ depthToClasse }}-item {{ (currentPage == element) ? 'active' : '' }}">
                    <a href="{{ path('single', {'entitySlug' : getEntitySlug(menuItem.type), 'slug' : element.slug}) }}" class="nav-{{ depthToClasse }}-item__link" >{{ element.title is defined ? element.title : (element.name is defined ? element.name : element.slug) }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}