<nav id="{{ menu.slug }}">
    <ul class="nav">
        {% if menu is not null %}
            {% for menuItem in menu.menu.menuItems if menu.menu is not null and menuItem.menuItemParent is null %}
                <li class="nav-item {{ menuItem.menuItemsChilds is not empty or menuItem.isList ? 'nav-item-parent' : '' }} {{ currentPage == getElement(menuItem.type, menuItem.idType) or checkChildActive(menuItem, currentPage) ? 'active' : '' }}">
                    {% if not menuItem.isParent %}
                        {% if menuItem.isList %}
                            <a class="nav-item__link" href="{{ path('archive', {'entitySlug': getEntitySlug(menuItem.type)}) }}"  {{ menuItem.target == "_blank" ? 'target="_blank" rel="noopener noreferrer"' : "" }}>{{ menuItem.title|raw }}</a>
                        {% else %}
                            <a class="nav-item__link" href="{{ getPermalink(menuItem) }}"  {{ menuItem.target == "_blank" ? 'target="_blank" rel="noopener noreferrer"' : "" }}>{{ menuItem.title|raw }}</a>
                        {% endif %}
                    {% endif %}
                    {% if menuItem.menuItemsChilds is not empty %}
                        <ul class="nav-sub">
                            {% for subMenuItem in menuItem.menuItemsChilds %}
                                <li class="nav-sub-item {{ currentPage == getElement(subMenuItem.type, subMenuItem.idType) ? 'active' : '' }}">
                                    <a href="{{ getPermalink(subMenuItem) }}" class="nav-sub-item__link" {{ subMenuItem.target == "_blank" ? 'target="_blank" rel="noopener noreferrer"' : "" }}>{{ subMenuItem.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {% if menuItem.isList %}
                        <ul class="nav-sub">
                            {% for element in getElementsList(menuItem.type) %}
                                <li class="nav-sub-item {{ currentPage == element.slug ? 'active' : '' }}">
                                    <a href="{{ path('single', {'entitySlug' : getEntitySlug(menuItem.type), 'slug' : element.slug}) }}" class="nav-sub-item__link" >{{ element.title is defined ? element.title : (element.name is defined ? element.name : element.slug) }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
        {% endif %}
    </ul>
</nav>